HTRC_VOLUME_PAGE_COUNT_FILE=/HTRC/htrc-metadata/HTRCVolumePageCount.txt
HTRC_VOLUME_CHAR_WORD_COUNT_FILE=/HTRC/htrc-metadata/GPD-char-word-count.txt
HTRC_AUTHOR_GENDER_MAP_FILE=/HTRC/Gender/20130802/newResult_ger.csv

PAGE_BIN_DIVIDER_1 = 150
PAGE_BIN_DIVIDER_2 = 350
PAGE_BIN_DIVIDER_3 = 550

WORD_BIN_DIVIDER_1 = 34806
WORD_BIN_DIVIDER_2 = 91778
WORD_BIN_DIVIDER_3 = 185921
